/.gradle/
/.gradle-local/
/.android-sdk/
/.idea/
/local.properties
/app/build/
/build/
.externalNativeBuild/
.cxx/
*.iml
*.apk
*.aab
*.jks
*.keystore
keystore.properties
signing.properties
.DS_Store
captures/

/temp.json
